/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@use 'bootstrap/scss/bootstrap';
@use "bootstrap-icons/font/bootstrap-icons.css";

/* Add some basic spacing */
body {
    padding-bottom: 60px;
    /* For fixed footer */
}

/* Style for editable cells */
.editable-cell {
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }
}

/* Footer styling */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.cursor-pointer {
    cursor: pointer;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}